Repository ansys/pyhps, pull requests merged in 2024-11, with the labels that each got.

#487 Bump up ansys/actions/doc-style to v8
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  tests/test_exceptions.py
Labels: maintenance

#489 Fix issues caused by upgrade of ansys actions
  .github/workflows/ci_cd.yml
Labels: maintenance

#411 Test parameter definitions in copied job definition
  tests/jms/test_job_definitions.py
Labels: bug

#500 feat: added sphinx hook and mordern download buttons
  doc/source/conf.py
  doc/source/examples/ex_cfx_static_mixer.rst
  doc/source/examples/ex_fluent_2d_heat_exchanger.rst
  doc/source/examples/ex_fluent_nozzle.rst
  doc/source/examples/ex_lsdyna_job.rst
  doc/source/examples/ex_mapdl_linked_analyses.rst
  doc/source/examples/ex_mapdl_tire_performance.rst
  doc/source/examples/ex_motorbike_frame.rst
  doc/source/examples/ex_motorbike_frame_query.rst
  doc/source/examples/ex_python_two_bar.rst
  doc/source/examples/index.rst
Labels: documentation, enhancement
