Repository ansys/pyhps, pull requests merged in 2024-02, with the labels that each got.

#339 Add codecov to the repository
  .github/workflows/tests.yml
  codecov.yml
Labels: maintenance

#341 Bump version to 0.8.dev0 in pyproject.toml
  CHANGELOG.md
  pyproject.toml
Labels: dependencies, maintenance

#344 docs: switcher link broken
  doc/source/conf.py
Labels: documentation

#348 Set username based on token
  pyproject.toml
  src/ansys/hps/client/client.py
  tests/test_client.py
Labels: enhancement, dependencies, maintenance
