Repository ansys/pyhps, pull requests merged in 2024-12, with the labels that each got.

#505 fix: format for CONTRIBUTORS.md
  CONTRIBUTORS.md
Labels: bug

#502 Feat/improve doc build logic
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  archive_examples.py
  doc/source/conf.py
  tox.ini
Labels: documentation, enhancement, maintenance

#509 Support Python 3.13
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  pyproject.toml
  tox.ini
Labels: dependencies, maintenance
