Repository ansys/pyhps, pull requests merged in 2025-03, with the labels that each got.

#554 [CI-CD]: Introduce profile input for docker-compose in testing
  .github/actions/hps_services/action.yml
  .github/workflows/tests.yml
Labels: maintenance

#558 Update services action and versions input
  .github/actions/hps_services/action.yml
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  codecov.yml
Labels: maintenance

#559 Implement and document compatibility with HPS releases
  doc/source/getting_started/index.rst
  pyproject.toml
  src/ansys/hps/client/__version__.py
  src/ansys/hps/client/check_version.py
  src/ansys/hps/client/client.py
  src/ansys/hps/client/exceptions.py
  src/ansys/hps/client/jms/api/jms_api.py
  src/ansys/hps/client/jms/api/project_api.py
  src/ansys/hps/client/rms/api/rms_api.py
  tests/jms/test_jms_api.py
  tests/rms/test_api.py
  tests/test_check_versions.py
  tests/test_client.py
  tests/test_services.py
Labels: documentation, enhancement, dependencies, maintenance

#565 fix: enable pdf documentation generation
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  doc/make.bat
  doc/source/conf.py
  doc/source/contribute.rst
  tox.ini
Labels: bug, documentation, maintenance

#566 Bump version to 0.11.dev0 and merge back release related fix
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: dependencies, maintenance

#569 Skip version check when running against dev services
  src/ansys/hps/client/check_version.py
  tests/test_check_versions.py
Labels: bug

#567 Test against HPS latest-dev version
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  tests/auth/test_api.py
  tests/auth/test_authenticate.py
Labels: maintenance
